
.subscribe-button{
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s ease,
                transform 0.3s ease;
    cursor: pointer;
}

.subscribe-button:hover{
    background-color: #CC0000;
    transform: scale(1.05);
}

.subscribe-button:active{
    background-color: #990000;
    transform: scale(0.98);

    transition: transform 0.2s ease;
}